.list-item {
    background-color: rgba(255, 255, 255, 0.5);
    text-indent: 15px;
    padding: 3px;
    border-radius: 30px;
    color: brown;
}

.prev-next-container{
    display: flex;
    justify-content: space-between;
}

.prev-next-container button{
    background-color: black;
    border: none;
    border-radius: 20px;
    margin: 5px;
}