.navbar-pokemon {
    box-shadow: -2px 1px 4px -1px black !important;
}

.nav-image {
    width: 180px;
    
}

.nav-link {
    font-size: larger;
    margin-left: 10px;
}

.selected-page {
    font-size: larger;
    margin-left: 10px;
    text-decoration: underline !important;
    text-decoration-thickness: 2px !important;
    text-underline-offset: 15px;
}